project_name                = "valheim-control"
aws_region                  = "sa-east-1"
instance_type               = "t2.medium"
root_volume_size_gb         = 40
control_password_hash       = "sha256_hex_da_senha"
valheim_port                = 2456
session_hourly_usd          = 0.0
usd_to_brl_rate             = 5.5
backup_retention_days       = 30
valheim_udp_cidr_blocks     = ["0.0.0.0/0"]
